.City {
    min-height:calc(100vh - 80px);
    max-height:calc(100vh - 80px);
    overflow: hidden;
}

.News {
    margin-top:2em;
    background: #444444;
    border-radius: 4px;
    border:1pt solid #111111;
}

.News-header {
    font-size:2em;
    font-weight:bold;
    margin:0.4em;
}

.News-text {
    font-size:0.7em;
    max-height:60vh;
    overflow: auto;
}