.CityNews {
    margin:0.4em;
    border-top:1pt solid #222222;
    padding:2em;
}

.News-stepper {
    background: gray !important;
    padding:2px !important;
 }

.News-button {
    color:white !important;
    padding: 4px !important;
}

.CityNews-title {
    text-align:center;
    font-weight:bold;
    font-size: 1.2em;
    padding: 0px 20px !important;
}

.CityNews-description {
    padding: 0 10px 10px 10px !important;
    word-wrap: break-word;
    text-align: left;
}
