.CityNews {
    margin:0.4em;
    border-top:1pt solid #222222;
    padding:2em;
}

.News-stepper {
    background: gray !important;
    padding:2px !important;
 }
.CityNews-title {
    text-align:center;
    font-weight:bold;
}

.News-button {
    color:white !important;
}